.skis-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.skis-wrapper {
  border: 3px solid #e7eff6;
  border-style: outset;
  width: 230px;
}

.skis-wrapper img {
  height: 500px;
  width: inherit;
}

.skis-wrapper ul {
    padding: 0;
    padding-bottom: 7%;
    position: relative;
    border: 4px solid #63ace5;
    border-radius: 10px;
    border-top-style: outset;
    border-bottom: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
}

.skis-wrapper ul li {
  list-style: none;
  text-align: center;
  color: white;
}

.skis-wrapper ul li h3:hover {
  color: #63ace5;
  list-style: none;
  text-align: center;
}
