.team-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.team-wrapper {
  border: 3px solid white;
  border-style: outset;
  width: 350px;
  background-color: #f4f3f3;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.team-wrapper button {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  cursor: pointer;
}

.team-wrapper img {
  height: 350px;
}
