<div class="details-head">
  <h2>SKI POLES/</h2>
  <br />
  <h1>{{poles.name}}</h1>
</div>
<br />
<div class="get-ski">
  <img ng-src="{{poles.image}}" alt="poles.image" width="100%" height="100%"></img>
  <div class="ski-info">
      <ul>
        <li><h3>{{poles.description}}</h3></li>
        <br />
        <li><h2>${{poles.price}}.00</h2></li>
        <br />
        <li><button ng-click="getSkiPoles(id)">Add To Cart</button></li>
        <br />
        <li><iframe width="500" height="300" src="https://www.youtube.com/embed/vDDRM90_rq4" frameborder="0" allowfullscreen></iframe></li>
     </ul>
  </div>
</div>

<div class="details">
  <div class="details-container">
    <h2>Details</h2>
    {{poles.details}}
    </div>
    <div class="specs-info">
      <h2>SPECS:</h2>
      {{poles.specs}}
    </div>
</div>
