
<div class="container1-fluid">
  <div class="content-wrapper">
    <h2>FOR FRODO</h2>
    <br />
    <h1>{{product.product_name}}</h1>
		<div class="item-container">
			<div class="product-container">
				<div class="col-md-12">
					<div class="product col-md-3 service-image-left">

						<center>
							  <img class="productImage" ng-src="{{product.product_image_url}}" />
						</center>
					</div>

					<div class="container service1-items col-sm-2 col-md-2 pull-left">
						<center>
							<a id="item-1" class="service1-item">
								<img   <img class="productImage" ng-src="{{product.product_image_url}}" />
							</a>
							<a id="item-2" class="service1-item">
								  <img class="productImage" ng-src="{{product.product_image_url}}" />
							</a>
							<a id="item-3" class="service1-item">
								  <img class="productImage" ng-src="{{product.product_image_url}}" />
							</a>
						</center>
					</div>
				</div>

				<div class="col-md-7">
					<h3>{{product.product_description}}</h3>
          <h2>${{product.product_price}}</h2>
					<div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>
					<hr>
					<div class="product-stock">In Stock</div>
					<hr>
					<div class="btn-group cart">
					  <ngcart-addtocart id="item1" name="{{product.product_name}}" price="{{product.product_price}}" quantity="1" quantity-max="5">Add to Cart</ngcart-addtocart>
					</div>
					<div class="btn-group wishlist">
						<button type="button" class="btn btn-danger">
							Add to wishlist
						</button>
					</div>
          <br/>
          <br/>
          <div class="movie"><iframe width="500" height="300" src="https://www.youtube.com/embed/vDDRM90_rq4" frameborder="0" allowfullscreen></iframe></div>
				</div>
			</div>
		</div>
  </div>
</div>

<div class="details">
  <div class="details-container">
    <h2>Details</h2>
    {{product.product_details}}
    </div>
    <div class="specs-info">
      <h2>SPECS:</h2>
      {{product.product_specs}}
    </div>
</div>
